<html layout:decorate="~{home/layout.html}">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>인원모집</title>
    <style>
        .table td:nth-child(3) {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
<main layout:fragment="main">
    <div class="flex items-center justify-center relative">
        <div class="mr-auto flex justify-center items-center min-w-[150px]">
            <h1 class="font-semibold">
                인원모집 게시판
            </h1>
            <span class="ml-4 h-4 w-px bg-black"></span>
        </div>
        <div class="flex justify-end items-center mb-3 mt-3 w-full">
            <div class="relative text-gray-600">
                <input type="search" id="search_kw" name="search" placeholder="검색어를 입력하세요"
                       class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
                       th:value="${kw}">
                <button id="btn_search" type="submit" class="absolute right-0 top-0 mt-3 mr-4">
                    <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                         id="Capa_1" x="0px" y="0px"
                         viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                         xml:space="preserve" width="512px" height="512px">
                  <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
                </svg>
                </button>
            </div>
        </div>
        <a href="/article/group/create" role="button" class="btn btn-primary btn-sm ml-10"
           th:if="${@rq.login}">글쓰기</a>
    </div>
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr class="text-center">
                <th>좋아요</th>
                <th>태그</th>
                <th class="w-1/2">제목</th>
                <th>닉네임</th>
                <th>조회수</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center hover" th:each="article, loop : ${paging}">
                <td th:text="${article.likes}"></td>
                <td>모집</td>
                <td>
                    <a th:href="@{|/article/group/detail/${article.id}|}" th:text="${article.subject}"></a>
                </td>
                <td><span th:if="${article.account != null}" th:text="${article.account.nickname}"></span></td>
                <td th:text="${article.viewed}"></td>
                <td th:text="${#temporals.format(article.createDate, 'MM.dd')}"></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${!paging.isEmpty()}">
            <div class="btn-group flex justify-center mt-4 mb-4">
                <a href="javascript:void(0)" th:data-page="${paging.number-1}"
                   role="button" class="page-link btn" th:classappend="${!paging.hasPrevious} ? 'btn-disabled'">«
                </a>
                <a th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                   th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                   th:classappend="${page == paging.number} ? 'btn-active'"
                   class="page-link btn" th:text="${page + 1}" href="javascript:void(0)" th:data-page="${page}">
                </a>
                <a href="javascript:void(0)" th:data-page="${paging.number+1}" class="page-link btn"
                   th:classappend="${!paging.hasNext} ? 'btn-disabled'">
                </a>
            </div>
        </div>
        <form th:action="@{/article/group/list}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
    <script layout:fragment="script" type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function () {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });
    </script>
</main>
</body>
</html>

