<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/layout}">
<head>

</head>
<body>
<section layout:fragment="main">
    <div>
        <h1 class="text-2xl font-bold mb-4">인원 모집 게시판 </h1>
        <form th:action="/create" method="post">


            <div> "class= mb-4"></div>
            <label for="title" class="block mb-1">제목:</label>
            <input type="text" id="title" name="title" class="w-full px-3 py-2 border rounded" required>
            <style>
                .btn-primary {
                    background-color: #588221;
                    color: whitesmoke;
                }

                .btn-secondary {
                    background-color: #588221;
                    color: whitesmoke;
                }
            </style>
            <div class="mb-4">
                <label for="content" class="block mb-1">내용:</label>
                <textarea id="content" name="content" class="w-full px-3 py-2 border rounded" required></textarea>
            </div>
            <div class="flex justify-end">
                <input type="submit" value="등록" class="btn btn-primary mr-2">
                <button type="button" class="btn btn-secondary" onclick="history.back()">취소</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>