<!DOCTYPE html>
<html data-theme="garden" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{home/layout.html}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SoloForest</title>
    <script src="https://kit.fontawesome.com/28297d33d8.js" crossorigin="anonymous"></script>
</head>
<body class="mx-auto" style="min-height:100vh; display: flex; flex-direction: column;">
<div class="container" style="width: 80%;">
    <main layout:fragment="main" class="flex flex-col justify-start items-start flex-grow">
        <div style="width: 75%; margin-left: 400px; min-width: 400px; max-width: 1000px;">
            <div class="border-y-2 border-gray-400 indigo-500/50 bg-zinc-400/[.08]">
                <div class="m-3 px-2">
                    <p class="text-2xl"><span th:text="${GroupData.subject}"></span></p>
                    <div class="flex justify-between">
                        <div>
                            <a>작성자 <span th:text="${GroupData.account}"></span></a>
                            <a>작성일 <span th:text="${GroupData.createDate}"></span></a>
                        </div>
                        <div>
                            <a>조회수</a>
                            <a>댓글</a>
                            <a>좋아요</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 80%; margin-left: 400px; min-width: 800px; max-width: 800px;">
            <div class="m-4">
                <span th:text="${GroupData.getContent()}"></span>
            </div>
            <div class="ml-4 w-1/3 border-y-2 border-gray-500 indigo-500/50 bg-zinc-400/[.08]">
                <div class="m-5 flex flex-col space-y-1">
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-user-group fa-xs"></i>
                        <span th:text="${GroupData.getMember()}"></span>명
                    </div>
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-coins fa-sm"></i>
                        <span th:text="${GroupData.getMoney()}"></span>원
                    </div>
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-calendar-days fa-xs"></i>
                        <!--                         <span th:text="${GroupData.getStartDate()}"></span> ~ <span th:text="${GroupData.getEndDate()}"></span> -->
                    </div>
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-location-dot" style="color: #1f1f1f;"></i>
                        <span th:text="${GroupData.getLocation()}"></span>
                    </div>
                </div>
            </div>
            <div class="m-8 space-y-2.5 space-x-1 flex justify-center" style="margin-left: 230px;">
                <p>좋아요</p>
                <i class="fa-regular fa-thumbs-up fa-lg"></i>
            </div>
        </div>
    </main>
</div>
</body>
</html>