<html layout:decorate="~{home/layout.html}">
<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title th:text="${share.subject}"></title>
</head>

<body>
<main layout:fragment="main">
    <div class="flex items-center justify-center mt-4 mb-3 relative">
        <div class="mr-auto flex justify-center items-center min-w-[150px]">
            <h1 class="font-semibold" th:text="${share.boardNumber == 0} ? '커뮤니티 게시판' : '프로그램 게시판'">
            </h1>
            <span class="ml-4 h-4 w-px bg-black"></span>
        </div>
        <div class="ml-auto mr-3 flex gap-4" th:if="${#authentication.getPrincipal() != 'anonymousUser'}">
            <a th:href="@{|/article/share/modify/${share.id}|}" role="button"
               class="btn btn-outline btn-primary btn-sm"
               th:if="${share.account != null and #authentication.getPrincipal().getUsername() == share.account.username}">수정</a>
            <form th:action="@{|/article/share/${share.getBoardType()}/delete/${share.id}|}" method="post">
                <button type="submit" class="btn btn-outline btn-error btn-sm"
                        th:if="${share.account != null and #authentication.getPrincipal().getUsername() == share.account.username}"
                        onclick="return confirm('이 글을 삭제하시겠습니까?');">삭제
                </button>
            </form>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="bg-white p-6 rounded-lg shadow-lg mb-6"
             style="min-height: 600px; max-height: auto; overflow: auto;">
            <h1 class="text-3xl font-semibold ml-2" th:text="${share.subject}"></h1>
            <div class="mb-3 ml-3">
                <ul class="menu menu-horizontal menu-compact">
                    <li tabindex="0">
                        <span class="font-bold text-primary"
                              th:text="${share.account.nickname}"></span>
                        <ul class="bg-white">
                            <li><a>신고하기</a></li>
                        </ul>
                    </li>
                </ul>
                <span th:text="${#temporals.format(share.createDate, 'MM.dd')}"></span>
                <i class="ml-2 fa-solid fa-eye"></i>
                <span class="gap-1" th:text="${share.viewed}"></span>
                <!-- 즐겨찾기 -->
                <button id="bookmark" class="mr-10" style="float: right; display: inline-block;"
                        th:if="${@rq.isLogin()}" th:value="${bookmark} ? 1 : 0 ">
                    <i id="bookmark_icon"></i>
                </button>
                <!-- 즐겨찾기 끝-->
            </div>
            <hr class="mb-8" style="border: none; border-top: 1px solid;">
            <div class="mb-5 ml-5" style="height: 300px; max-height: auto; overflow: auto;">
                <span class="text-xl" th:text="${share.content}"></span>
            </div>
            <div class="mb-6 ml-6">
                <!-- 좋아요 -->
                <input type="hidden" id="shareId" th:value="${share.getId()}">
                <input type="hidden" id="accountId" th:value="${@rq.isLogin()} ? ${@rq.getAccount().getId()} : null">
                <button id="like_login" th:if="${@rq.isLogout()}">
                    <i class="fa-regular fa-thumbs-up"></i>
                </button>
                <button id="like" th:value="${like} ? 1 : 0" th:if="${@rq.isLogin()}">
                    <i id="like_icon"></i>
                </button>
                <span class="gap-1" th:text="${share.likes}"></span>
                <!-- 좋아요 끝 -->
                <i class="fa-regular fa-comment ml-3"></i>
                <span class="gap-1" th:text="${share.comments.size()}"></span>
            </div>
            <hr class="mb-8" style="border: none; border-top: 1px solid;">
        </div>
    </div>
    <script>
        document.getElementById("like_login").onclick = function () {
            window.location.href = "/account/login";
        }
    </script>
    <script>
        const header = $("meta[name='_csrf_header']").attr('content');
        const token = $("meta[name='_csrf']").attr('content');

        const shareId = $("#shareId").val();

        const like = document.getElementById("like").value;
        const like_icon = document.getElementById("like_icon");
        const bookmark = document.getElementById("bookmark").value;
        const bookmark_icon = document.getElementById("bookmark_icon");

        if (like > 0) {
            like_icon.className = "fa-solid fa-thumbs-up";
        } else {
            like_icon.className = "fa-regular fa-thumbs-up";
        }
        if (bookmark > 0) {
            bookmark_icon.className = "fa-solid fa-bookmark";
        } else {
            bookmark_icon.className = "fa-regular fa-bookmark";
        }
        //좋아요 클릭 시
        $("#like").on("click", function () {
            $.ajax({
                url: '/article/share/like',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                type: 'POST',
                data: {'shareId': shareId},
                success: function (data) {
                    if (data) {
                        $("#like_icon").attr("class", "fa-solid fa-thumbs-up");
                    } else {
                        $("#like_icon").attr("class", "fa-regular fa-thumbs-up");
                    }
                    location.href = "/article/share/detail/" + shareId;
                }, error: function () {
                    location.href = "/main";
                }
            });
        });
        // 즐겨찾기 클릭 시
        $("#bookmark").on("click", function () {
            $.ajax({
                url: '/article/share/bookmark',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                type: 'POST',
                data: {'shareId': shareId},
                success: function (data) {
                    if (data) {
                        $("#bookmark_icon").attr("class", "fa-solid fa-bookmark");
                    } else {
                        $("#bookmark_icon").attr("class", "fa-regular fa-bookmark");
                    }
                    location.href = "/article/share/detail/" + shareId;
                }, error: function () {
                    location.href = "/main";
                }
            });
        });
    </script>
</main>
</body>
</html>