<html layout:decorate="~{home/layout.html}">
<head>
    <title th:text="${share.boardNumber == 0} ? '커뮤니티' : '프로그램'"></title>
</head>
<body>
<main layout:fragment="main">
    <div class="flex items-center relative">
        <h1 class="mt-4 mb-4 font-semibold" th:text="${share.boardNumber == 0} ? '커뮤니티 게시판' : '프로그램 게시판'">
        </h1>
        <div class="ml-4 h-4 w-px bg-black"></div>
    </div>
    <div class="container mx-auto px-4 py-8">
        <form th:action method="post">
            <div class="mb-6">
                <div class="relative">
                    <input type="text" id="subject" name="subject" th:field="*{share.subject}"
                           class="w-full px-4 py-2 rounded-md border-0 bg-transparent focus:outline-none focus-visible:border-primary-focus text-gray-900 custom-input title-input"
                           placeholder="제목을 입력해주세요." required>
                    <div class="absolute inset-x-0 bottom-0 border-b-2 border-primary"></div>
                </div>
            </div>
            <div class="mb-6">
                <textarea id="content" name="content" th:field="*{share.content}"
                          class="w-full px-4 py-2 rounded-md border-2 border-primary bg-gray-100 focus:outline-none focus:border-primary-focus text-gray-900"
                          rows="6" required></textarea>
            </div>
            <div class="flex justify-end">
                <button type="submit"
                        class="inline-block bg-[#5a7c65] hover:bg-primary-focus text-primary-content font-bold py-2 px-4 rounded-md shadow-md transition duration-300 ease-in-out">
                    게시
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>