<html layout:decorate="~{home/layout.html}">
<head>
    <title>댓글테스트</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

</head>
<body>
<main layout:fragment="main">
    <button onclick="listReq()">목록</button>
    <button onclick="updateReq()">수정</button>
    <button onclick="deleteReq()">삭제</button>

    <!-- 댓글 작성 부분 -->
    <div id="comment-write">
        <input type="text" id="commentWriter" placeholder="내용">
        <input type="text" id="commentContents" placeholder="내용">
        <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
    </div>


    <!-- 댓글 출력 부분 -->
    <div id="comment-list"></div>

    <!-- 스크립트는 main 태그 안족에, 타임리프 레이아웃에 의해 body 밖은 무시됨-->

    <script th:inline="javascript">
        const commentWrite = () => {
            const writer = document.getElementById("commentWriter").value;
            const contents = document.getElementById("commentContents").value;
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            //게시글 번호
            console.log("작성자: ", writer);
            console.log("내용: ", contents);

            $.ajax({
                // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
                type: "post",
                url : "/comment/create",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    "commentWriter": writer,
                    "commentContents": contents
                },
                success: function (res) {
                    console.log("요청 성공", res);
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }
    </script>
</main>
</body>

</html>