<main>
    <!-- 댓글 갯수 -->
    <div th:data-a-comment-index="${article.id}" class="flex items-baseline gap-2 ml-1">
        <i class="far fa-comment-dots text-blue-400"></i>
        <div class="flex">
            <div class="font-bold" th:text="|${#lists.size(article.comments)}|" id="comment-count"></div>
            <div>개의 댓글이 있습니다.</div>
        </div>
    </div>
    <!-- 댓글 작성 부분 -->
    <div id="write">
        <input type="hidden" name="articleId" th:value="${article.id}">
        <input type="hidden" name="page" th:value="${paging.totalPages-1 < 0 ? 0 : paging.totalPages-1}">
        <div class="flex justify-end">
            <div class="label cursor-pointer flex space-x-2">
                <label class="label cursor-pointer gap-2">
                    <i class="fa-solid fa-lock"></i>
                    <span class="label-text font-semibold">비밀댓글</span>
                    <input type="checkbox" name="secret" id="secret" class="toggle toggle-primary"/>
                </label>
            </div>
        </div>
        <div class="flex">
                <textarea th:if="${@rq.login}" name="commentContents" placeholder="댓글을 입력해주세요." id="commentContents"
                          columns="4" class="border border-gray-300 rounded-lg textarea-lg w-full
            focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
            <textarea th:unless="${@rq.login}" disabled placeholder="로그인 후 댓글 작성이 가능합니다." columns="4" class="border border-gray-300 rounded-lg textarea-lg w-full
            focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
            <button id="comment-write-btn" class="btn btn-secondary w-28 h-28" onclick="aCommentWrite()">
                <span>등록</span>
            </button>
        </div>
    </div>
    </div>
    <!-- 댓글 출력 부분, 일단 페이지 접속 했을때 보여지게!-->
    <div id="comment-list" class="mt-5">
        <!-- 댓글 수 갱신용-->
        <div id="totalCount" th:if="${totalCount !=null}" th:text="${totalCount}"
             style="display: none;"></div>
        <div th:if="${totalCount ==null}" th:text="${totalCount}" style="display: none;">0</div>
        <ul class="space-y-4">
            <li th:each="comment : ${paging}" th:if="${comment.parent == null}">
                <div class="card bg-white border p-6 rounded-lg shadow-lg">
                    <a th:id="|comment_${comment.id}|"></a>
                    <div class="flex items-center">
                        <ul class="menu menu-horizontal text-primary font-semibold">
                            <li tabindex="0">
                                <span>[[${comment.writer.nickname}]] </span>
                                <ul class="bg-base-100">
                                    <li>
                                        <button th:data-child-index="${comment.writer.id}"
                                                th:if="${!comment.deleted}"
                                                onclick="sendReport(this.getAttribute('data-child-index'))">
                                            <span>신고하기</span>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- 비밀댓글 자물쇠 표시-->
                        <div class="badge badge-primary gap-3" th:if="${comment.secret}"><i
                                class="fa-solid fa-lock"></i>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <!-- 삭제된 댓글 분기 -->
                        <p class="text-lg font-bold" th:if="${!comment.deleted and !comment.secret}">
                            [[${comment.content}]]</p>
                        <p class="text-gray-200" th:if="${comment.deleted}"> 삭제된 댓글입니다.</p>
                        <!-- 비밀 댓글 분기 -->
                        <div th:if="${@rq.login}">
                            <p class="text-lg font-bold"
                               th:if="${comment.secret and ((comment.writer.username eq @rq.account.username) or (article.account.username eq @rq.account.username) or @rq.account.admin)}">
                                [[${comment.content}]]</p>
                            <p class="text-lg font-bold"
                               th:if="${comment.secret and !((comment.writer.username eq @rq.account.username) or (article.account.username eq @rq.account.username) or @rq.account.admin)}">
                                비밀 댓글입니다.</p>
                        </div>
                        <div th:if="${@rq.logout}">
                            <p class="text-lg font-bold" th:if="${comment.secret}">
                                비밀 댓글입니다.</p>
                        </div>
                        <div class="flex flex-col items-end justify-center gap-3">
                            <div class="badge badge-outline gap-3">
                                <i class="fa-regular fa-clock"></i>
                                작성일
                                <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                            <div th:if="${comment.modifyDate != null}" class="badge gap-3 badge-outline">
                                <i class="fa-solid fa-clock-rotate-left"></i>
                                수정일
                                <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 삭제 할 댓글 id와 작성자 정보 저장 용-->
                    <input type="hidden" th:id="'comment-' + ${comment.id}" th:value="${comment.id}"/>
                    <input type="hidden" th:id="'writer-' + ${comment.id}" th:value="${comment.writer.id}"/>
                    <!-- 수정폼에서 수정 전 값 불러오기 용-->
                    <input type="hidden" th:id="'comment-content-' + ${comment.id}" th:value="${comment.content}"/>
                    <input type="hidden" th:id="'comment-secret-' + ${comment.id}" th:value="${comment.secret}"/>

                    <!-- 수정, 삭제, 답글 등록 버튼-->
                    <div sec:authorize="isAuthenticated()" class="flex justify-start mt-3 gap-2">
                        <button class="btn btn-xs" th:data-comment-index="${comment.id}"
                                onclick="showReplyForm(this.getAttribute('data-comment-index'));">
                            답글 작성
                        </button>
                        <button class="btn btn-xs"
                                th:if="${(!comment.deleted) and ((@rq.account.username == comment.writer.username) or (@rq.account.admin))}"
                                th:data-comment-index="${comment.id}"
                                th:text="수정" onclick="showModifyForm(this.getAttribute('data-comment-index'));">
                        </button>
                        <button class="btn btn-xs"
                                th:if="${(!comment.deleted) and ((@rq.account.username == comment.writer.username) or (@rq.account.admin))}"
                                th:data-comment-index="${comment.id}"
                                th:text="삭제"
                                onclick="if (confirm('해당 댓글을 삭제하시겠습니까?')) deleteComment(this.getAttribute('data-comment-index'));">
                        </button>
                    </div>
                </div>

                <!-- 답글 버튼 클릭시 나올 폼-->
                <div th:id="'reply-form-' + ${comment.id}" class="hidden mt-3">
                    <textarea placeholder="답글을 입력해주세요." th:id="'replyCommentContents-' + ${comment.id}" columns="4"
                              class="border border-gray-300 rounded-lg textarea-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
                    <div class="flex justify-start">
                        <label class="label cursor-pointer gap-2">
                            <i class="fa-solid fa-lock"></i>
                            <span class="label-text font-semibold">비밀댓글</span>
                            <input type="checkbox" th:id="'replySecret-' + ${comment.id}"
                                   class="toggle toggle-primary"/>
                        </label>
                    </div>
                    <button id="reply-comment-write-btn" th:data-comment-index="${comment.id}"
                            onclick="replyCommentWrite(this.getAttribute('data-comment-index'))"
                            class="btn btn-xs mb-3">
                        <span>답글작성</span>
                    </button>
                </div>

                <!-- 댓글 수정 버튼 클릭 -->
                <div th:id="'modify-form-' + ${comment.id}" class="hidden mt-3">
                    <input type="hidden" th:id="'modify-comment-' + ${comment.id}" th:value="${comment.id}"/>
                    <input type="hidden" th:id="'modify-writer-' + ${comment.id}" th:value="${comment.writer.id}"/>
                    <textarea placeholder="수정할 내용을 입력해주세요" th:id="'modify-comment-contents-' + ${comment.id}"
                              class="border border-gray-300 rounded-lg textarea-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
                    <div class="flex flex-start">
                        <label class="label cursor-pointer gap-2">
                            <i class="fa-solid fa-lock"></i>
                            <span class="label-text font-semibold">비밀댓글</span>
                            <input type="checkbox" th:id="'modify-secret-' + ${comment.id}"
                                   class="toggle toggle-primary"/>
                        </label>
                    </div>
                    <button id="modify-comment-write-btn" th:data-comment-index="${comment.id}"
                            onclick="modifyCommentWrite(this.getAttribute('data-comment-index'))"
                            class="btn btn-xs mb-3">
                        <span>댓글수정</span>
                    </button>
                </div>

                <!-- 대댓글 출력-->
                <ul class="ml-8 space-y-2 bg-base-100">
                    <li th:each="childComment, childIndex : ${comment.children}">
                        <div class="border-t border-gray-300 p-4 rounded-lg">
                            <a th:id="|comment_${childComment.id}|"></a>
                            <div class="flex items-center">
                                <ul class="menu menu-horizontal text-primary font-semibold">
                                    <li tabindex="0">
                                        <span>[[${childComment.writer.nickname}]]</span>
                                        <ul class="bg-base-100">
                                            <li>
                                                <button th:data-child-index="${childComment.writer.id}"
                                                        onclick="sendReport(this.getAttribute('data-child-index'))">
                                                    <span>신고하기</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- 비밀댓글 표시-->
                                <div class="badge badge-primary gap-3" th:if="${childComment.secret}">
                                    <i class="fa-solid fa-lock"></i>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <p class="text-lg font-bold" th:if="${!childComment.deleted and !childComment.secret}">
                                    [[${childComment.content}]]</p>
                                <div th:if="${@rq.login}">
                                    <p class="text-lg font-bold"
                                       th:if="${childComment.secret and ((comment.writer.username eq @rq.account.username) or (childComment.writer.username eq @rq.account.username) or (article.account.username eq @rq.account.username) or @rq.account.admin)}">
                                        [[${childComment.content}]]</p>
                                    <p class="text-lg font-bold"
                                       th:if="${childComment.secret and !((comment.writer.username eq @rq.account.username) or (childComment.writer.username eq @rq.account.username) or (article.account.username eq @rq.account.username) or @rq.account.admin)}">
                                        비밀 댓글입니다.</p>
                                </div>
                                <div th:if="${@rq.logout}">
                                    <p class="text-lg font-bold" th:if="${childComment.secret}">
                                        비밀 댓글입니다.</p>
                                </div>

                                <div class="flex flex-col items-end justify-center gap-3">
                                    <div class="badge badge-outline gap-3">
                                        <i class="fa-regular fa-clock"></i>
                                        작성일
                                        <div th:text="${#temporals.format(childComment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                    </div>
                                    <div th:if="${childComment.modifyDate != null}" class="badge badge-outline gap-3">
                                        <i class="fa-solid fa-clock-rotate-left"></i>
                                        수정일
                                        <div th:text="${#temporals.format(childComment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 답글 삭제, 수정시 답글 정보 -->
                            <input type="hidden" th:id="'modify-reply-comment-' + ${childComment.id}"
                                   th:value="${childComment.id}"/>
                            <input type="hidden" th:id="'modify-reply-writer-' + ${childComment.id}"
                                   th:value="${childComment.writer.id}"/>
                            <!-- 수정폼에서 수정 전 값 불러오기 용-->
                            <input type="hidden" th:id="'child-comment-content-' + ${childComment.id}"
                                   th:value="${childComment.content}"/>
                            <input type="hidden" th:id="'child-comment-secret-' + ${childComment.id}"
                                   th:value="${childComment.secret}"/>
                            <!-- 답글(대댓글) 수정, 삭제 버튼-->
                            <div sec:authorize="isAuthenticated()" class="flex justify-start mt-3 gap-2">
                                <button class="btn btn-xs"
                                        th:if="${(!childComment.deleted) and ((@rq.account.username == childComment.writer.username) or (@rq.account.admin)) }"
                                        th:data-child-index="${childComment.id}"
                                        th:text="수정"
                                        onclick="showReplyModifyForm(this.getAttribute('data-child-index'));">
                                </button>
                                <button class="btn btn-xs"
                                        th:if="${(!childComment.deleted) and ((@rq.account.username == childComment.writer.username) or (@rq.account.admin))}"
                                        th:data-comment-index="${childComment.id}"
                                        th:text="삭제"
                                        onclick="if (confirm('해당 댓글을 삭제하시겠습니까?')) deleteReplyComment(this.getAttribute('data-comment-index'));">
                                </button>
                            </div>
                        </div>

                        <div>
                            <!-- 답글(대댓글) 수정 버튼 클릭시 나타날 폼 -->
                            <div th:id="'modify-reply-form-' + ${childComment.id}" class="hidden">
                                <textarea placeholder="수정할 내용을 입력해주세요"
                                          th:id="'modify-reply-comment-contents-' + ${childComment.id}" columns="4"
                                          class="border border-gray-300 rounded-lg textarea-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
                                <div class="flex flex-start">
                                    <label class="label cursor-pointer gap-2">
                                        <i class="fa-solid fa-lock"></i>
                                        <span class="label-text font-semibold">비밀댓글</span>
                                        <input type="checkbox" th:id="'modify-reply-secret-' + ${childComment.id}"
                                               class="toggle toggle-primary"/>
                                    </label>
                                </div>
                                <button id="modify-reply-comment-write-btn" th:data-child-index="${childComment.id}"
                                        onclick="modifyReplyCommentWrite(this.getAttribute('data-child-index'))"
                                        class="btn btn-xs mb-3">
                                    <span>댓글수정</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- 댓글 페이징 부분-->
        <div class="btn-group flex justify-center mt-7" th:if="${!paging.isEmpty()}">
            <div class="btn" th:classappend="${paging.number == 0} ? 'btn-disabled' : ''"
                 th:attr="onclick='window.location.href=\'?page=0#comment-list\''">
                &laquo;
            </div>
            <div th:attr="onclick='window.location.href=\'?page=' + (${paging.number - 1}) + '#comment-list\''"
                 class="btn" th:classappend="${!paging.hasPrevious} ? 'btn-disabled' : ''">
                이전
            </div>
            <div class="btn" th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                 th:classappend="${paging.number == page} ? 'btn-active' : ''"
                 th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                 th:attr="onclick='window.location.href=\'?page=' + (${page}) + '#comment-list\''"
                 th:text="${page}">
            </div>
            <div class="btn" th:classappend="${!paging.hasNext} ? 'btn-disabled' :''"
                 th:attr="onclick='window.location.href=\'?page=' + (${paging.number + 1}) + '#comment-list\''">
                다음
            </div>
            <div th:attr="onclick='window.location.href=\'?page=' + (${paging.totalPages - 1}) + '#comment-list\''"
                 class="btn" th:classappend="${paging.number == paging.totalPages - 1} ? 'btn-disabled' : ''">
                &raquo;
            </div>
        </div>
    </div>

    <!-- 스크립트는 main 태그 안족에, 타임리프 레이아웃에 의해 body 밖은 무시됨-->

    <script th:inline="javascript">
        // 답변, 댓글 수정 동시에 못하도록 하기 위한 답변 폼 숨기기 메서드
        const hideReplyForm = (commentIndex) => {
            const formId = "reply-form-" + commentIndex;
            const formElement = document.getElementById(formId);
            if (formElement) {
                formElement.classList.add("hidden");
            } else {
                console.error("Element with ID '" + formId + "' not found.");
            }
        };

        // 답변, 댓글 수정 동시에 못하도록 하기 위한 수정 폼 숨기기 메서드
        const hideModifyForm = (commentIndex) => {
            const formId = "modify-form-" + commentIndex;
            const formElement = document.getElementById(formId);
            if (formElement) {
                formElement.classList.add("hidden");
            } else {
                console.error("Element with ID '" + formId + "' not found.");
            }
        };

        // 답글 버튼 눌렀을 때 입력 창 나오게
        const showReplyForm = (commentIndex) => {
            console.log("showReplyForm 호출");
            const formId = "reply-form-" + commentIndex;
            const formElement = document.getElementById(formId);
            if (formElement) {
                formElement.classList.remove("hidden");
                hideModifyForm(commentIndex); // 수정 입력 폼 숨기기
            } else {
                console.error("Element with ID '" + formId + "' not found.");
            }
        }

        // 댓글 수정 버튼 눌렀을 때 입력 창 나오게
        const showModifyForm = (commentIndex) => {
            console.log("showModifyForm 호출");
            const formId = "modify-form-" + commentIndex;
            // 기존 값 가져오기 필요
            const formElement = document.getElementById(formId);
            const existingCommentContents = document.getElementById("comment-content-" + commentIndex).value;
            const existingSecretValue = document.getElementById("comment-secret-" + commentIndex).value;

            if (formElement) {
                hideReplyForm(commentIndex); // 답글 입력 폼 숨기기
                formElement.classList.remove("hidden");
                // 기존 값 채우기
                document.getElementById("modify-comment-contents-" + commentIndex).value = existingCommentContents;
                document.getElementById("modify-secret-" + commentIndex).checked = (existingSecretValue == "true");
                // ...
            } else {
                console.error("Element with ID '" + formId + "' not found.");
            }
        }


        // 답글(대댓글) 수정 버튼 눌렀을 때 입력 창 나오게
        const showReplyModifyForm = (childIndex) => {
            console.log("showReplyModifyForm 호출");
            const formId = "modify-reply-form-" + childIndex;
            const formElement = document.getElementById(formId);
            const existingCommentContents = document.getElementById("child-comment-content-" + childIndex).value;
            const existingSecretValue = document.getElementById("child-comment-secret-" + childIndex).value;

            if (formElement) {
                formElement.classList.remove("hidden");
                // 기존 값 채우기
                document.getElementById("modify-reply-comment-contents-" + childIndex).value = existingCommentContents;
                document.getElementById("modify-reply-secret-" + childIndex).checked = (existingSecretValue == "true");
                // ...
            } else {
                console.error("Element with ID '" + formId + "' not found.");
            }

        }

        // 댓글 작성 메서드
        const aCommentWrite = () => {
            const secretValue = document.getElementById("secret").checked ? true : false;
            const contents = document.getElementById("commentContents").value.trim();
            const articleId = [[${article.id}]];

            if (contents.length == 0) {
                alert('답글을 입력해주세요');
                return;
            }

            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');

            $.ajax({
                // 요청방식: post, 요청주소: /comment/create/question
                // 요청데이터: 작성내용, 게시글번호, 비밀 댓글 여부, 부모 댓글 id
                type: "post",
                url: "/comment/create",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    "articleId": articleId,
                    "secret": secretValue,
                    "commentContents": contents
                },
                success: function (fragment) {
                    document.getElementById("commentContents").value = "";
                    document.getElementById("secret").checked = false;

                    // 프래그먼트로부터 jQuery 객체를 생성합니다.
                    const $newFragment = $(fragment);

                    //프래그먼트로부터 새로운 코멘트 개수를 가져옵니다.
                    const newTotalComments = $newFragment.find('#totalCount').text();

                    // 코멘트 카운트를 업데이트합니다.
                    $(`#comment-count`).text(newTotalComments);
                    $('#comment-list').replaceWith(fragment);
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }

        // 답글(대댓글) 작성 메서드
        const replyCommentWrite = (commentIndex) => {
            const replySecret = document.getElementById("replySecret-" + commentIndex);
            const secretValue = replySecret.checked ? true : false;
            const contents = document.getElementById("replyCommentContents-" + commentIndex).value.trim();
            const articleId = [[${article.id}]];
            const currentPage = [[${paging.number}]];

            if (contents.length == 0) {
                toastWarning('답글을 입력해주세요');
                return;
            }

            const parentId = document.getElementById("comment-" + commentIndex).value;
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            //게시글 번호
            console.log("비밀여부: ", secretValue);
            console.log("내용: ", contents);

            $.ajax({
                // 요청방식: post, 요청주소: /comment/reply/create
                // 요청데이터: 작성내용, 게시글번호, 비밀 댓글 여부, 부모 댓글 id
                type: "post",
                url: "/comment/reply/create",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    "articleId": articleId,
                    "secret": secretValue,
                    "commentContents": contents,
                    "parentId": parentId,
                    "page": currentPage
                },
                success: function (fragment) {
                    $('#comment-list').replaceWith(fragment);
                    toastNotice('답글이 작성되었습니다');
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }
        // 댓글 수정 메서드
        const modifyCommentWrite = (commentIndex) => {
            const replySecret = document.getElementById("modify-secret-" + commentIndex);
            const secretValue = replySecret.checked ? true : false; // 비밀 댓글 체크 여부
            const contents = document.getElementById("modify-comment-contents-" + commentIndex).value.trim();
            ; // 내용
            const articleId = [[${article.id}]];
            const currentPage = [[${paging.number}]];

            if (contents.length == 0) {
                toastWarning('댓글을 입력해주세요');
                return;
            }

            const writerId = document.getElementById("modify-writer-" + commentIndex).value; // 작성자 ID
            const commentId = document.getElementById("modify-comment-" + commentIndex).value; // 댓글번호

            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            //게시글 번호
            console.log("비밀여부: ", secretValue);
            console.log("내용: ", contents);

            $.ajax({
                // 요청방식: post, 요청주소: /comment/reply/create
                // 요청데이터: 작성내용, 게시글번호, 비밀 댓글 여부, 부모 댓글 id
                type: "post",
                url: "/comment/modify",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    "articleId": articleId,
                    "secret": secretValue,
                    "commentContents": contents,
                    "commentWriter": writerId,
                    "id": commentId,
                    "page": currentPage
                },
                success: function (fragment) {
                    $('#comment-list').replaceWith(fragment);
                    toastNotice('댓글이 수정되었습니다');
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }

        // 댓글 삭제 메서드
        const deleteComment = (commentIndex) => {
            const articleId = [[${article.id}]];
            const commentId = document.getElementById("comment-" + commentIndex).value; // 댓글번호
            const writerId = document.getElementById("writer-" + commentIndex).value; // 작성자 ID
            const currentPage = [[${paging.number}]];
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');

            $.ajax({
                // 요청방식: post, 요청주소: /comment/reply/create
                // 요청데이터: 작성내용, 게시글번호, 비밀 댓글 여부, 부모 댓글 id
                type: "post",
                url: "/comment/delete",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    "articleId": articleId,
                    "commentWriter": writerId,
                    "id": commentId,
                    "page": currentPage
                },
                success: function (fragment) {
                    $('#comment-list').replaceWith(fragment);
                    toastNotice('댓글이 삭제되었습니다');
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }

        // 답글(대댓글) 수정 메서드
        const modifyReplyCommentWrite = (childIndex) => {
            const replySecret = document.getElementById("modify-reply-secret-" + childIndex);
            const secretValue = replySecret.checked ? true : false; // 비밀 댓글 체크 여부
            const contents = document.getElementById("modify-reply-comment-contents-" + childIndex).value.trim();
            ; // 내용
            const articleId = [[${article.id}]];
            const writerId = document.getElementById("modify-reply-writer-" + childIndex).value; // 작성자 ID
            const commentId = document.getElementById("modify-reply-comment-" + childIndex).value; // 댓글번호
            const currentPage = [[${paging.number}]];
            if (contents.length == 0) {
                toastWarning('댓글을 입력해주세요');
                return;
            }

            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            //게시글 번호
            console.log("비밀여부: ", secretValue);
            console.log("내용: ", contents);

            $.ajax({
                // 요청방식: post, 요청주소: /comment/modify (댓글, 답글 로직 동일)
                // 요청데이터: 작성내용, 게시글번호, 비밀 댓글 여부, 부모 댓글 id
                type: "post",
                url: "/comment/modify",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    "articleId": articleId,
                    "secret": secretValue,
                    "commentContents": contents,
                    "commentWriter": writerId,
                    "id": commentId,
                    "page": currentPage
                },
                success: function (fragment) {
                    $('#comment-list').replaceWith(fragment);
                    toastNotice('답글이 수정되었습니다');
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }

        //답글(대댓글) 삭제 메서드
        const deleteReplyComment = (childIndex) => {
            const articleId = [[${article.id}]];
            const writerId = document.getElementById("modify-reply-writer-" + childIndex).value; // 작성자 ID
            const commentId = document.getElementById("modify-reply-comment-" + childIndex).value; // 댓글번호


            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');

            $.ajax({
                // 요청방식: post, 요청주소: /comment/delete
                // 요청데이터: 작성내용, 게시글번호, 비밀 댓글 여부, 부모 댓글 id
                type: "post",
                url: "/comment/delete",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    "articleId": articleId,
                    "commentWriter": writerId,
                    "id": commentId
                },
                success: function (fragment) {
                    $('#comment-list').replaceWith(fragment);
                    toastNotice('답글이 삭제되었습니다');
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }

        function CommentForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.commentContents.value = form.commentContents.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.commentContents.value.length === 0) {
                toastWarning('내용을 입력해주세요');
                form.commentContents.focus();
                return;
            }
            form.submit(); // 폼 발송
        }
    </script>

</main>